<nav
  class="sticky top-0 z-50 flex flex-rows justify-between items-center bg-white/90 border-b border-slate-200"
>
  <a
    href="/jobs/board"
    class="pl-4 font-black tracking-wide text-lg leading-none uppercase"
  >Korea Jobs Board</a>
  <div class="flex">
    {{#if draftsCount}}
      <a
        href="/jobs/drafts"
        class="inline-flex items-center py-1 px-3 font-mono uppercase text-sm bg-slate-200 tracking-wide"
      >Saved drafts ({{draftsCount}})</a>
    {{/if}}

    <a
      href="/jobs/start"
      class="tracking-wide px-3 py-2 font-mono uppercase text-sm text-white bg-blue-500/80"
    >Post job</a>

  </div>
</nav>