<nav
  class="sticky top-0 z-50 flex flex-rows justify-between items-center bg-white/80 py-2 backdrop-blur-md"
>
  <a
    href="/jobs/board"
    class="pl-4 lg:pl-0 font-black tracking-wide text-lg leading-none uppercase"
  >Korea Jobs Board</a>
  <div class="flex shrink-0">
    {{#if draftsCount}}
      <a
        href="/jobs/drafts"
        class="inline-flex items-center font-mono uppercase tracking-wide text-xs text-amber-500 underline px-3 py-1 rounded-full"
      >Saved drafts {{draftsCount}}</a>
    {{/if}}

    <a
      href="/jobs/start"
      class="tracking-wide px-3 py-2 font-mono uppercase text-sm bg-amber-300 lg:ml-2 mr-4 lg:mr-0"
    >Post</a>

  </div>
</nav>