<footer
  class="{{#if hideFooter}}hidden md:flex{{else}}flex{{/if}} bottom-0"
>
  
  <div class="w-full flex items-center justify-start">

    {{!-- <h1 class="uppercase text-blue-400 text-lg font-semibold text-left">Korea Jobs Board</h1> --}}
    
    <div class="flex">
      <a href="/faq" class="inline-flex items-center justify-center tracking-wider py-3 px-4 text-sm font-mono uppercase">FAQ</a>
      <a href="/contact" class="inline-flex items-center justify-center tracking-wider py-3 px-4 text-sm font-mono uppercase">Contact</a>
    </div>

  </div>
</footer>
