<div>

  {{#if actionError}}
    <p class="text-red-500 text-sm border border-red-500 py-1 px-2 rounded inline-block">Something went wrong. Please try again.</p>
  {{/if}}

      <div class="flex items-center justify-between gap-4 tracking-wide font-mono uppercase px-4 py-2 text-sm text-slate-800 border-y md:border-x border-slate-200 sticky z-30 top-[52px] bg-white">
          <p>Your Posts</p>
        <i class="ph ph-note"></i>
      </div>

  <div class="border-b border-slate-200">
    {{#each posts}}
      {{> manage-post-card token=../token}}
    {{else}}
      <p class="px-2">No posts found.</p>
    {{/each}}
  </div>

  {{> confirm-modal
  id="delete-post"
  title="Delete post?"
  message="This post will be permanently removed."
  confirmLabel="Delete"
  cancelLabel="Cancel"
}}

</div>

<script type="module" src="/js/delete-button.js"></script>
