<div class="flex flex-1 flex-col">

{{#if pinnedPosts}}
  {{> board-filters}}
{{else if posts}}
  {{> board-filters}}
{{/if}}

  <div class="flex flex-1 flex-col">
    {{#if loadError}}
      <p class="text-red-500 text-sm uppercase border border-red-500 p-4 rounded inline-block m-4">
        Something went wrong loading posts.
      </p>
    {{else if posts}}
      {{#if pinnedPosts}}
<div class="flex items-center justify-between gap-4 tracking-wide font-mono uppercase px-4 py-2 text-sm border-y md:border-x border-slate-200 sticky z-30 top-[52px] bg-white">
    <p>Pinned Posts</p>
  <i class="ph ph-push-pin"></i>
</div>

        {{#each pinnedPosts}}
          {{> public-job-card this}}
        {{/each}}
      {{/if}}
      {{#if posts}}
<div class="flex items-center justify-between gap-4 tracking-wide font-mono uppercase px-4 py-2 text-sm text-slate-800 border-y md:border-x border-slate-200 sticky z-30 top-[52px] bg-white">
    <p>Latest Posts</p>
  <i class="ph ph-clock"></i>
</div>
        {{#each posts}}
          {{> public-job-card this}}
        {{/each}}
      {{/if}}
      <div class="flex justify-between">
      <a
        href="#"
        id="back-to-top"
        class="fixed right-[max(0px,calc((100vw-48rem)/2))] bottom-0 inline-flex items-center bg-blue-500/80 px-3 py-3 font-mono text-sm uppercase tracking-wider text-white opacity-0 translate-y-4 pointer-events-none transition-all duration-200 ease-out"

      >
        Back to top
      </a>

      </div>
    {{else}}
      <div class="flex flex-1 flex-col items-center justify-center gap-4">
        <p class="text-8xl"><i class="ph ph-smiley-sad"></i></p>
        <p>No jobs yet.</p>
        <a
          href="/jobs/board"
          class="inline-flex items-center px-3 py-2 font-mono text-sm uppercase tracking-wider border"
        >
          Reset filters
        </a>
      </div>
    {{/if}}
  </div>
</div>

<script src="/js/back-to-top.js" defer></script>
